body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./imgs/terere.png");
  background-size: cover;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navbar {
  padding: 10px 20px;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-nav .nav-item .nav-link {
  font-size: 1.2rem;
  margin-right: 30px;
  color: rgb(255, 145, 0);
  font-family: sans-serif;
}

.cart-widget {
  display: flex;
  align-items: center;
}

.cart-icon {
  font-size: 1.8rem;
  margin-right: 8px;
}

.cart-notification {
  background-color: red;
  color: rgb(0, 0, 0);
  padding: 2px 5px;
  border-radius: 50%;
  font-size: 1rem;
}

.item-list-container {
  color: rgb(255, 145, 0);
  text-align: center;
}
